:root {
	--bg-color: #c3c3e6;
	--bg-color-dark: #a1a1c4;
	--bg-color-light: #d4d4f7;
	--text-color: #3b0053;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

nav a {
	color: #190031;
	padding: 5px;
	font-size: 150%;
	border: 2px groove purple;
	margin: 2px 2px 2px 2px;
	background-color: var(--bg-color-light)
}

nav {
	margin: auto;
	width: min-content;
	display: flex;
	text-align: center;
	background-color: var(--bg-color-dark);
}

img {
    max-width: 100%;
}

.post_metadata {
    font-size: 10px;
    font-style: italic;
}